.small-text{
    font-size: 13px;
}
div.facilities{
    width: 325px;
}
a.btn.btn-primary,
#button-addon2 {
    background-color: #9353FF;
    border-color: #9353FF;
    text-decoration-color: white;
}
.price{
    font-weight: bold;
}